<div class="card border shadow-sm">
    <div class="card-body">
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('editor', slug=post.slug) }}">
            <p>Edit {% if post.published %}Post{% else %}Draft{% endif %}</p></a>
            <p>
            {% if post.published %}
            <a href="{{ url_for('publish', slug=post.slug) }}">Unpublish immediately</a>
            {% endif %}
            </p>
            <p>
            {% if not post.published %}
            <a href="{{ url_for('publish', slug=post.slug) }}">Publish immediately</a>
            {% endif %}
            </p>
            {% endif %}
            <h3 class="card-title">
            {% if posts %}
            <a class="linkhide" href="{{ url_for('post', slug=post.slug) }}">{{ post.title }}
            </a>
            {% else %}
            {{ post.title }}
            {% endif %}
            </h3>
            <p class="card-text">
            {% if posts %}
            <a class="linkhide" href="{{ url_for('post', slug=post.slug) }}">
            {{ post.body }}
            </a>
            {% else %}
            {{ post.body }}
            {% endif %}
            </p>
    </div>
    <div class="card-footer">
        <small class="text-muted">{{ post.timestamp }} by {{ post.author }}</small>
        <br>
        <small class="text-muted">
        {% for tag in post.tags %}
            {% if post.tags|length > 1 and (tag != post.tags|last) %}
                {{ tag.tag + " /" }}
            {% else %}
                {{ tag.tag }}
            {% endif %}
        {% endfor %}
        </small>
    </div>
</div>
