{% extends "base.html" %}
{% from 'bootstrap/form.html' import render_form_row, render_field %}

{% block head %}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block app_content %}
<div class="row">
    <div class="col-sm-12">
        <div class="d-flex">
        <h1 class="mr-auto">Editor</h1>

        <div class="dropdown show align-self-center shadow-sm">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Existing Drafts
            </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                {% for draft in drafts %}
                <a class="dropdown-item" href="{{ url_for('editor', slug=draft.slug) }}">{{ draft.title }}</a>
                {% endfor %}
            </div>
        </div>
        </div>

        <form method="post" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {{ render_field(form.title, class="shadow-sm form-control") }}
            {{ render_field(form.image, form_type="horizontal", horizontal_columns=('sm', 3, 9), class="form-control-file") }}
            {{ render_field(form.blurb, class="shadow-sm form-control", placeholder="Add an optional blurb", rows="2") }}
            {{ render_field(form.body, class="shadow-sm form-control flask-pagedown-input", rows="4") }}
            <div class="form-row">
                <div class="col">
                    {{ render_field(form.tags, class="shadow-sm form-control") }}
                </div>
                <div class="col">
                    {{ render_field(form.new_tags, class="shadow-sm form-control") }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label class="form-control-label" for="timestamp">Timestamp</label>
                        <input type="text" readonly class="form-control shadow-sm" id="timestamp" value="{% if form.timestamp.data %}{{ form.timestamp.data.strftime("%d.%m.%y %H:%M:%S UTC") }}{% else %}No timestamp until saved or published{% endif %}">
                    </div>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col">
                    {{ render_field(form.submit, class="btn btn-success btn-md shadow-sm") }}
                </div>
                <div class="col">
                    {{ render_field(form.published, class="form-check-input") }}
                </div>
                {% if form.title.data %}
                <div class="col">
                    {{ render_field(form.update, class="form-check-input") }}
                </div>
                <div class="col">
                    <div class="float-right">
                    {{ render_field(form.delete, class="btn btn-danger btn-md") }}
                    </div>
                </div>
                {% endif %}
            </div>
        </form>

    </div>
</div>
{% endblock %}
